<div class="flex flex-column flex-auto">
  <div class="page-background">
    <div class="flex flex-justify">


      <!--fasdf-->
      <button ng-click="$ctrl.openTagForm()" ff-show=">developer" class="flex btn btn-primary mt2" style="white-space: nowrap;">
        Create Tag
      </button>
      <i>icon</i>
    </div>
    <div class="col-12">
      <div class="flex flex-auto flex-center" ng-if="$ctrl.loading">
        <round-spinner class="mx-auto my3"></round-spinner>
      </div>

      <div class="legacy-data-table bg-white flex flex-column border" ng-if="!$ctrl.loading">
        <table class="table-light">
          <thead>
            <tr>
              <th>NAME</th>
              <th ff-show=">developer"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(id, tag) in $ctrl.tags">
              <td>{{ ::tag.name }}</td>
              <td ff-show=">developer">
                <material-icon ng-click="$ctrl.deleteTag(tag)" class="legacy-data-table-row-icon mr1" i="delete" tooltip tooltip-title="Delete tag"
                  tooltip-side="bottom">
                </material-icon>
              </td>
      </div>

      </tr>
      </tbody>
      </table>
    </div>

  </div>
</div>